h1,h2, strong {
    color: blueviolet;
}
body {
    background-color: antiquewhite;
}
p {
    color: gray;
}
ul {
    border: 3px solid orange;
}
ol {
    border: 3px solid purple;
}
ol, ul {
    padding: 7px 30px;
    border-radius: 10px;
}

hr {
    color: black;
}
em {
    color: gray;
}

